.custom-form {
    width: 530px;
    display: flex;
    height: auto;
    flex-direction: column;
}

.card-container.endside{
    justify-content: flex-end;
}
.add-button{
    justify-content: center;
    height: 0.3rem;
    width: auto;
    box-sizing: border-box;
}
